* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #cccccc;
}

header {
    font-size: medium;
    font-weight: bold;
    display: flex;
    padding: 8px 0;
    justify-content: center;
    text-transform: uppercase;
}

.container {
    width: 100%;
    margin: 100px auto;
    max-width: 540px;
}

input, button {
    padding: 8px;
}

button {
    background-color: #5c5c46;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

form {
    padding: 24px 16px;
    text-align: center;
}

ul {
    justify-content: center;
    display: grid;
    flex-wrap: wrap;
}
ul li {
    list-style: square;
    margin-bottom: 4px;
}

.overlay-task {
    cursor: pointer;
}

h3::first-letter {
    text-transform: capitalize;
}