@import "config/variaveis.less";
@import "components/form.less";
@import "components/table.less";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: @fonte;
}

body {
    background-color: #cores[background];
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 36px;

    h1 {
        font-size: 40px;
        font-weight: bold;
    }
}

.container {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
}