@use 'config/reset.scss';
@use 'config/variaveis.scss';

@use 'secoes/produtos.scss';
@use 'secoes/menu.scss';

body {
    background-color: variaveis.$corDeFundo;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: variaveis.$corSecundaria;
    position: sticky;
    top: 0;
    left: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }
}

li {
    list-style: none;
}

section {
    padding: 56px 0;
}

@media screen and (max-width: variaveis.$tablet) {
    .container {
        max-width: 80%;
    }
}